@using Common.Client
@using Common.Shared
@using Common.Shared.Auth
@using Lang = Common.Shared.Lang
@using S = Common.Shared.I18n.S
@using System.Globalization
<div class="root col g-1 p-1">
    <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" class="m-t-0">
        @L.S(S.L10n)
    </RadzenText>
    <RadzenTemplateForm
        TItem="Model"
        Data="_model"
        Submit="Do"
        class="flx col g-1 ai-stretch w-15">
        <div class="flx col ai-stretch">
            <RadzenLabel class="m-b-0q" Component="Lang" Text="@L.S(S.Language)"/>
            <RadzenDropDown Name="Lang" AllowClear="false" TValue="string" 
                            Data="IS.SupportedLangs" 
                            TextProperty="NativeName" ValueProperty="Code"
                            @bind-Value="_model.Lang" />
        </div>
        <div class="flx col ai-stretch">
            <RadzenLabel class="m-b-0q" Component="Date" Text="@L.S(S.DateFmt)"/>
            <div class="flx row jc-s g-0h">
                <RadzenDropDown class="w-4" Name="DateSeparator" AllowClear="false" TValue="string" 
                                Data="IS.SupportedDateSeparators"
                                @bind-Value="_model.DateSeparator" />
                <RadzenDropDown class="grow-1" Name="Date" AllowClear="false" TValue="DateFmt" 
                                Data="DateFmtExt.GetFmts(_model.DateSeparator)" 
                                ValueProperty="DateFmtValue"
                                @bind-Value="_model.DateFmt" />
            </div>
        </div>
        <div class="flx col ai-stretch">
            <RadzenLabel class="m-b-0q" Component="Time" Text="@L.S(S.TimeFmt)"/>
            <RadzenDropDown Name="Time" AllowClear=false TValue=string 
                            Data="IS.SupportedTimeFmts" 
                            ValueProperty="Value"
                            @bind-Value="@_model.TimeFmt" />
        </div>
        <div class="flx col ai-stretch">
            <RadzenLabel class="m-b-0q" Component="ThousandsSeparator" Text="@L.S(S.ThousandsSeparator)"/>
            <RadzenDropDown Name="ThousandsSeparator" AllowClear=false TValue=string 
                            Data="_model.ThousandSeparators"
                            ValueProperty="TSep"
                            @bind-Value="@_model.ThousandsSeparator" />
        </div>
        <div class="flx col ai-stretch">
            <RadzenLabel class="m-b-0q" Component="DecimalSeparator" Text="@L.S(S.DecimalSeparator)"/>
            <RadzenDropDown Name="DecimalSeparator" AllowClear=false TValue=string 
                            Data="_model.DecimalSeparators"
                            ValueProperty="DSep"
                            @bind-Value="@_model.DecimalSeparator" />
        </div>
        <RadzenButton ButtonType="ButtonType.Submit" BusyText="@L.S(S.Updating)" IsBusy="_doing" Text="@L.S(S.Update)" Disabled="!CanDo"/>
    </RadzenTemplateForm>
</div>

@inject IAuthService Auth;
@inject L L;
@inject Common.Shared.S IS;
@code{

    public record NumberSeparator(string TSep, string DSep)
    {
        private static decimal V = 12345678.99m;

        public override string ToString()
        => V.ToString("N", new NumberFormatInfo()
            {
                NumberGroupSeparator = TSep, 
                NumberDecimalSeparator = DSep
            });
    }

    
    record Model(Common.Shared.S S)
    {
        public string Lang { get; set; } = S.DefaultLang;
        public DateFmt DateFmt { get; set; } = S.DefaultDateFmt;
        public string TimeFmt { get; set; } = S.DefaultTimeFmt;
        public string DateSeparator = S.DefaultDateSeparator;
        private string _thousands = S.DefaultThousandsSeparator;
        public string ThousandsSeparator
        {
            get => _thousands;
            set
            {
                if (value == _decimal)
                {
                    _decimal = S.SupportedDecimalSeparators.First(x => x != value);
                }
                _thousands = value;
            }
        }
        private string _decimal = S.DefaultDecimalSeparator;
        public string DecimalSeparator
        {
            get => _decimal;
            set
            {
                if (value == _thousands)
                {
                    _thousands = S.SupportedThousandsSeparators.First(x => x != value);
                }
                _decimal = value;
            }
        }
        public IEnumerable<NumberSeparator> ThousandSeparators => S.SupportedThousandsSeparators.Select(t =>
        {
            if(t != _decimal)
                return new NumberSeparator(t, _decimal);
            return new NumberSeparator(t, S.SupportedDecimalSeparators.First(d => t != d));
        });
        public IEnumerable<NumberSeparator> DecimalSeparators => S.SupportedDecimalSeparators.Select(d =>
        {
            if(d != _thousands)
                return new NumberSeparator(_thousands, d);
            return new NumberSeparator(S.SupportedThousandsSeparators.First(t => t != d), d);
        });
    }

    private bool CanDo => _model != _initialValues && !_doing;

    private ISession _session = Session.Default(S.DefaultLang, S.DefaultDateFmt, S.DefaultTimeFmt, S.DefaultDateSeparator, S.DefaultThousandsSeparator, S.DefaultDecimalSeparator); 
    private Model? _model; 
    private Model? _initialValues; 
    private bool _doing = false;

    protected override async Task OnInitializedAsync()
    {
        _session = await Auth.GetSession();
        _model = new(IS)
        {
            Lang = _session.Lang,
            DateFmt = _session.DateFmt,
            TimeFmt = _session.TimeFmt,
            DateSeparator = _session.DateSeparator,
            ThousandsSeparator = _session.ThousandsSeparator,
            DecimalSeparator = _session.DecimalSeparator
        };
        _initialValues = new(IS)
        {
            Lang = _session.Lang,
            DateFmt = _session.DateFmt,
            TimeFmt = _session.TimeFmt,
            DateSeparator = _session.DateSeparator,
            ThousandsSeparator = _session.ThousandsSeparator,
            DecimalSeparator = _session.DecimalSeparator
        };
    }

    private async Task Do()
    {
        _doing = true;
        try
        {
            var ses = await Auth.SetL10n(_model.Lang, _model.DateFmt, _model.TimeFmt, _model.DateSeparator, _model.ThousandsSeparator, _model.DecimalSeparator);
            _initialValues.Lang = ses.Lang;
            _initialValues.DateFmt = ses.DateFmt;
            _initialValues.TimeFmt = ses.TimeFmt;
            _initialValues.ThousandsSeparator = ses.ThousandsSeparator;
            _initialValues.DecimalSeparator = ses.DecimalSeparator;
        }
        catch
        {
            // use empty catch to avoid having to
            // call StatHasChanged on errors
        }
        _doing = false;
    }

    private void LangSelected(object val)
    {
        _model.Lang = ((Lang)val).Code;
    }
}